<mat-toolbar color="primary">
  <button mat-button (click)="logout()">Logout</button>
  <button mat-button (click)="onNavigate()">Edit Account</button>
</mat-toolbar>
<!-- 
<mat-error *ngIf="ErrorFound"> {{ WrittenError }}</mat-error>
<mat-form-field style="width: 100%; height: 9%;" class="input-field">
 
  <mat-label>Filter By:</mat-label>
  <input matInput placeholder="Username,Email,Address,Role" (keyup)="applyFilter($event.target.value)"> 
</mat-form-field>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit User </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="editUser(element)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<mat-paginator [length]="UsersCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>
 -->
 <button mat-button class="logout-button" routerLink="usersList" *ngIf="triggered">Users List</button>
 <router-outlet ></router-outlet>

<mat-toolbar color="primary">
  <button mat-button  (click)="logout()">Logout</button>
  <button mat-button  (click)="onNavigate()">Edit Account</button>
</mat-toolbar>

