<div class="edit-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onEdit()">

        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="Username" name="Username" required>
        </mat-form-field>

        <!-- <mat-error *ngIf="wrongUsername">Must include at least ....</mat-error> -->
        <br>
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="Email" name="Email" required>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Old Password" [(ngModel)]="password" name="password"
            [type]="hidePassword ? 'password' : 'text'" >
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="Address" name="address" required>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Roles</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="Roles" name="roles" required>
        </mat-form-field>
        <br>
        <mat-error *ngIf="ErrorFound"> {{ WrittenError }}</mat-error>
        <br>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>