/* Styles for the login container */
.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86.6vh;
    /* height: 100vh; */
}

mat-card {
    max-width: 30%;
}

.input-field {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    /* margin-top: 2px; */
}

mat-toolbar {
    width: 100%;
}
